.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.alignButtonFix.col {
  flex-basis: content;
  flex-grow: 0;
}

.buttonRowSpacing {
  margin-top: 15px;
  margin-bottom: 15px;
}

.table.headerFixAlign thead th {
  vertical-align: middle;
}
