body {
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
                "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
                sans-serif;
  -webkit-font-smoothing:   antialiased;
  -moz-osx-font-smoothing:  grayscale;
}

code {font-family:  source-code-pro, Menlo, Monaco, Consolas, "Courier New",
                    monospace}

html,
body, #root {
  margin:   0;
  width:    100%;
  height:   100%;
}

#root {margin: auto}

body {
  display:            -ms-flexbox;
  display:            flex;
  -ms-flex-align:     center;
  align-items:        center;
  /*padding-top:      40px;
  padding-bottom:     40px;*/
  background-color:   #f5f5f5;
}

.form-signin {
  width:      100%;
  max-width:  330px;
  padding:    15px;
  margin:     auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position:   relative;
  box-sizing: border-box;
  height:     auto;
  padding:    10px;
  font-size:  16px;
}
.form-signin .form-control:focus {z-index: 2}
.form-signin input[type="text"] {
  margin-bottom:              -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius:  0;
}
.form-signin input[type="password"] {

  border-top-left-radius:   0;
  border-top-right-radius:  0;
}

#passwordField {
  margin-bottom:  10px;
  text-align:     left;
  font-size:      12px;
}

header {
  background-color: #282c34;
  padding: 0 20% 0 20%;
}
header ul {
  display: inline-flex;
  justify-content: space-around;
}
header a {
  text-decoration: none;
  color: whitesmoke;
  padding: 20px 20px 20px 20px;
}
header a:hover{
  text-decoration: underline;
  color: antiquewhite;
}

body #LoginForm {
  position:   absolute;
  top:        -20%;
  bottom:     0;
  left:       0;
  right:      0;
  width:      50%;
  height:     30%;
  margin:     auto;
}